 

.row:after {
  content: "";
  display: table;
  clear: both;
}

 


 
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 10;
  left: 35%;
   background-color: white;
}
 
 
.modal-content {
  position: relative;
  background-color: #fefefe;
     padding: 0;
   
  max-width: 300px;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
 
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

  